html, body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex: 1; /* Permite que el cuerpo crezca para llenar el espacio */
  justify-content: flex-start;
  align-items: stretch; /* Asegura que el contenido se estire */
  min-width: 320px;
}

.app-container {
  
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Para evitar que colapse si hay pocos elementos */
}
